body {
    font-family: Arial, sans-serif;
    background-image: url('c:\Users\Smrit\OneDrive\Documents\background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #0809145c;
    color: #fff;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

header a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

section {
    padding: 50px 20px;
    text-align: center;
}
section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    line-height: 1.5;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer p {
    font-size: 14px;
}